{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-group">
    {% for file in files %}
        <a href="{{ file.link }}" class="list-group-item list-group-item-action">
            {{ file.name }}
        </a>
    {% endfor %}
    </div>
{% endblock %}
